@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

@media all {html {font-size: 23px;}}
@media all and (max-width:1000px){html {font-size: 22px;}}
@media all and (max-width:960px){html {font-size: 21px;}}
@media all and (max-width:920px){html {font-size: 21px;}}
@media all and (max-width:880px){html {font-size: 21px;}}
@media all and (max-width:840px){html {font-size: 20px;}}
@media all and (max-width:800px){html {font-size: 19px;}}
@media all and (max-width:760px){html {font-size: 18px;}}
@media all and (max-width:720px){html {font-size: 17px;}}
@media all and (max-width:680px){html {font-size: 16px;}}
@media all and (max-width:640px){html {font-size: 15px;}}
@media all and (max-width:600px){html {font-size: 14px;}}
@media all and (max-width:560px){html {font-size: 13px;}}
@media all and (max-width:520px){html {font-size: 12px;}}

body {
	background-color:#FAF1FC;
}

em {
    font-size: 110%;
}

aside { 
	font-family: "Lato";
	font-variant: italic;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
	margin-left: -5%;
	margin-bottom: 25px;
	width: 107%;
	max-width: 815px;
	color: #9C8B8B;
	text-rendering: opximizeLegibility;
	border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

header {
    font-family: "Courier";
    font-weight: normal;
    color: black;
    font-size: 220%;
    padding-top: 45px;
    padding-left: 19.5%;
    margin-bottom: 6px;
}

nav {
    float: left;
    text-align: right;
	width: 17%;
	font-family: "Lato";
    padding-right: 1rem;
    margin-left: -22%;
    font-size: 80%;
    font-weight: 300;
    color: #333;
}

nav p {
	margin: 0;
	font-family: Courier;
}

h1, h2, h3 {
	font-family: "Lato";
	text-transform: uppercase;
	font-size: 110%;
	font-weight: 300;
    margin-bottom: .3em;
    margin-top: 0px;
}

h2 {
	font-weight: 300;
	font-size: 105%;
}

h3 {
    font-weight: 300;
	font-size: 100%;
}

p {
	width: 100%;
	max-width: 700px;
	font-family: "Times New Roman";
	text-indent: 23.7px;
	text-align: left;
	text-rendering: opximizeLegibility;
	line-height: 1.4em;
    color: #111;
    font-weight: 300;
}

p + p {
	margin-top: -0.2em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    width: 650px;
    padding: 0;
}

#bottom-nav {
	border-collapse: collapse;
}

#blog-content {
	margin-left: 18%;
	width: 70%;
    margin-top: 2em;
}

#sub-header {
	font-family: "Lato";
    font-weight: 300;
    color: black;
    font-size: 100%;
    padding-left: 19.5%;
}

#navtable {
    margin-bottom: 0;
    margin-left: 15.5%;
    border-top: 1px solid #ccc;
    margin-top: 2em;
    max-width: 750px;
    font-size: 90%;
    height: 2.7em;
    width: 73%;
}

#navtable tr {
    border-top: 1px solid #ccc;
}

#navtable td {
    vertical-align: top;
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: 300;
}

#navtable td#left {
    padding-right: 1em;
    padding-top: .5em;
}
#navtable td#right {
    padding-left: 1em;
    padding-top: .5em;
}

#navtable td+td {
    padding: 0;
    border-left: 1px solid #ccc;
}

#navtable td#center {
	text-align: center;
    padding-top: .5em;
	width: 10%;
}

.tags {
    font-family: "Lato";
    font-size: 75%;
    margin-bottom: 1.7em;
    margin-top: -.4em;
}

.post {
    margin-bottom: 2em;
    margin-top: 20px;
}

.date {
    font-size: 70%;
    font-weight: 300;
    margin: 0px;
    font-family: "Lato";
}

.endless_more, 
.link, 
.link-body {
    display: inline;
    transition: all 0.3s ease-out;
    /* Font styles */
    text-decoration: none;
    color: #777;
}

.link:hover {
    color: #ccc;
}

.link-body {
    color: #111;
    border-bottom: 1.2px solid #666;
}

.link-body:hover {
    color: #aaa;
}

.link-body:visited {
    border-bottom: 2px solid #ccc;
}

.endless_container {
    font-family: 'Lato';
    font-size: 90%;
    margin-bottom: 40px;
    margin-left: 5%;
    max-width: 700px;
    font-weight: 300;
}


