html, body {
    font-family: "Helvetica";
    font-size: 13pt;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: url('garage.jpg') no-repeat center center fixed; 
    background-attachment: fixed !important;
    height: 100%;
    width: 100%;
}

body {
    background-color: transparent;
}

em {
    font-size: 110%;
}

header {
    background-color: #444;
    background-color: #FFA57C;
    box-shadow: 0px 1px 3.5px #666;
    height: 35px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

aside {
    width: 20%;
    color: #333;
    float: left;
    font-size: 80%;
    font-weight: 300;
    padding-right: 1rem;
    padding: 10px;
    text-align: left;
}

aside h1 {
    font-size: 100%;
    text-transform: uppercase;
}

h1, h2, h3 {
    margin-bottom: .3em;
    margin-top: 0px;
}

h1 {
    font-size: 218%;
    background-color: transparent;
}

h2 {
    font-size: 164%;
    font-weight: 400;
    margin-bottom: .3em;
    margin-top: 1em;
}

h3 {
    font-size: 145%;
    font-weight: 300;
}

h4 {
    font-weight: bold;
}
p {
    color: #111;
    font-family: "Georgia";
    font-weight: 300;
    line-height: 1.4em;
    text-align: left;
    text-indent: 23.7px;
    text-rendering: opximizeLegibility;
}

p + p {
	margin-top: -0.2em;
}

code {
    background-color: #F9F9F9;
    font-size: 75%;
    padding: 3px;
}

hr {
    border-top: 1px solid #ccc;
    border: 0;
    display: block;
    height: 1px;
    margin-bottom: 0;
}

hr+hr {
    margin-top: 2.5px;
}

ul {
    font-family: "Georgia";
    font-size: 100%;
}

a {
    color: black;
}

/* DIV IDS*/

#wrap {
    min-height:100%;
}

#main {
    overflow:auto;
    padding-bottom: 2.5em;  /* must be same height as the footer */
}

#masthead, #footer {
    background-color: #3A6387;
    box-shadow: 0px 2px 3.5px black;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

#masthead a, #footer {
    color: #fff;
    font-size: 90%;
    padding: 15px;
}

#masthead {
    height: 2em;
    padding-top: .5em;
}

#jumbotron {
    height: 13.5em;
    width: 100%;
}

#jumbotron p {
    color: #fff;
    text-indent: 0px;
}

#jumbotron h1 {
    font-family: "Georgia";
    font-size: 440%;
    background-color: transparent;
}

#jumbotron a {
    color: #fff;
    font-size: 90%;
}

#jumbotron .container {
    color: #fff;
    padding-top: 40px;
    text-shadow: 3px 3px 4px #0D0D0D;
    vertical-align: bottom;
}

#entry-content {
    background-color:rgba(255,255,255,.95);
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;
}

.side-content {
    margin-top: 35px;
}

.side-entry {
    background-color:rgba(255,255,255,.95);
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;
}

.side-entry h3 {
    margin-bottom: .5em;
}

.side-entry h4 {
    margin-top: 0;
}

.about-me {
    margin: 10px;
}

.about-me p {
    font-family: "Courier";
    line-height: 1.2em;
    font-size: 11pt;
}

#footer {
    color: #ccc;
    clear:both; 
    height: 2.5em;
    margin-bottom: 0;
    margin-top: 2.5em; /* negative value of footer height */
    position: relative;
}

/* INLINE STYLES */

.tags {
    font-size: 100%;
    margin-bottom: 1.7em;
    margin-top: -.5em;
}

.post {
    margin-bottom: 1em;
    padding: 10px 10px 10px 10px;
}

.date {
    font-size: 91%;
    font-weight: 300;
    margin: 0px;
}

.endless_more, 
.link {
    color:black;
    display: inline;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.link:hover {
    color: #777;
    text-decoration: none;
}

.link-body {
    color: #777;
    display: inline;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.link-body {
    color: #111;
    border-bottom: 1.2px solid #666;
}

.link-body:hover {
    color: #aaa;
    text-decoration: none;
}

.link-body:visited {
    border-bottom: 2px solid #ccc;
    text-decoration: none;
}

.endless_container {
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    margin-left: 260px;
    margin-top: 30px;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle; 
    white-space: nowrap;
    width: 120px;
}

.endless_container a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.42857143;
}

.endless_container a:hover {
    text-decoration: none;
}

/* ICONS */

.twitter-icon,
.linkedin-icon,
.email-icon,
.facebook-icon,
.rss-icon,
.github-icon {
    position: relative;
}

.twitter-icon:before,
.linkedin-icon:before,
.email-icon:before,
.facebook-icon:before,
.rss-icon:before,
.github-icon:before {
    bottom: 0px;
    left: 0px;
    opacity: 1;
    position: absolute;
    -moz-transition: opacity .25s; /* Firefox */
    -webkit-transition: opacity .25s; /* Safari and Chrome */
    -o-transition: opacity .25s; /* Opera */
    transition: opacity .25s;
}

.twitter-icon:after,
.linkedin-icon:after,
.email-icon:after,
.facebook-icon:after,
.rss-icon:after,
.github-icon:after {
    opacity: 0;
    -moz-transition: opacity .25s; /* Firefox */
    -webkit-transition: opacity .25s; /* Safari and Chrome */
    -o-transition: opacity .25s; /* Opera */
    transition: opacity .25s;
}

.twitter-icon:hover:before,
.linkedin-icon:hover:before,
.email-icon:hover:before,
.facebook-icon:hover:before,
.rss-icon:hover:before,
.github-icon:hover:before {
    opacity: 0;
}

.twitter-icon:hover:after,
.linkedin-icon:hover:after,
.email-icon:hover:after,
.facebook-icon:hover:after,
.rss-icon:hover:after,
.github-icon:hover:after {
    opacity: 1;
}

.twitter-icon:before {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Active/32/Twitter.png');
}

.linkedin-icon:before {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Active/32/Linkedin.png');
}

.email-icon:before {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Active/32/Email.png');
}

.facebook-icon:before {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Active/32/Facebook.png');
}

.rss-icon:before {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Active/32/RSS.png');
}

.github-icon:before {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Active/32/Github.png');
}

.twitter-icon:after {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Hover/32/Twitter.png');
}

.linkedin-icon:after {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Hover/32/Linkedin.png');
}

.email-icon:after {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Hover/32/Email.png');
}

.facebook-icon:after {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Hover/32/Facebook.png');
}

.rss-icon:after {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Hover/32/RSS.png');
}

.github-icon:after {
    content: url('https://s3-us-west-1.amazonaws.com/blogsite/blog/Icons/Hover/32/Github.png');
}