{% extends "blog/base.html" %}
{% load django_markdown %}

{% block content %}
<section class="row">
	<section id='entry-content' class="col-sm-7"> 
		<article class="post">
		{% for object in entries %}
				<section class="date" style="display:inline;">{{ object.created| date:"d M Y" }}</section><h3 style="display:inline;"><a href="{% url 'entry_detail' slug=object.slug %}" class="link" >...{{ object.title }}</a></h3>
				<section class="tags" style="margin-top:1px;">Tagged under 
					{% for tag in object.tags.all %}
						<a href='{% url "tag_index" tag=tag.slug %}' class='link-body'>{{tag.slug}}</a>
						{% if not forloop.last %}// 
						{% endif%}
					{% endfor %}
				</section>
		{% endfor %}
		</article>
	</section>
</section>
{% endblock %}