{% extends "blog/base.html" %}
{% load django_markdown %}

{% block content %}
{% for object in entries %}
	<article class="post">
		<section class="date">{{ object.created| date:"d M Y" }}</section>
		<h1><a href="{% url 'entry_detail' slug=object.slug %}" class="link">{{ object.title }}</a></h1>
		<section class="tags">Tagged under 
			{% for tag in object.tags.all %}
				<a href='{% url "tag_index" tag=tag.slug %}' class='link-body'>{{tag.slug}}</a>
				{% if not forloop.last %}// 
				{% endif%}
			{% endfor %}
		</section>
	</article>
{% endfor %}
{% endblock %}