{% load staticfiles %}
<html>
    <head>
        <title>art_to_code</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
    </head>

    <body>

    <header>art_to_code</header>
	<section id="sub-header">Jeff Browning's personal blog</section>
	<table id="navtable" style="border-top: 0px;">
		<tbody>
			<tr>
				<td id="center"><a href="{% url 'index' %}" class="link">Home</a></td>
				<td id="center"><a href="{% url 'about_me' %}" class="link">About&nbsp;Me</a></td>
				<td id="center"><a href="{% url 'archive' %}" class="link">Archive</a></td>
				<td id="center"><a href="https://twitter.com/Art_to_Code" class="link">Twitter</a></td>
				<td id="center"><a href="https://github.com/jeffreybrowning" class="link">Github</td>
				<td id="center"><a href="http://www.linkedin.com/pub/jeffrey-browning/49/636/a30/" class="link">Linkedin</td>
			</tr>
	</table>
	<section id="blog-content">
	    {% block content %}


	    {% endblock %}
	</section>
		{% block navtable %}
	    <div id="bottom-nav">
			<table id="navtable">
				<tbody>
					<tr>
						<td id="left" style="width:38%;text-align:left;color:#ccc;">Previous Entry</td>
						<td id="right" style="width:38%;text-align:right;color:#ccc;">Next Entry</td>
					</tr>
				</tbody>
			</table>
		</div>
		{% endblock %}
    </body>
</html>