{% load static from staticfiles %}
<html>
    <head>
        <title>art to code</title>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}blog/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}blog/style.css" /> 
        <link href="{% url 'feed' %}" rel="alternate" type="application/rss+xml" title="Art to Code Blog Feed" />
    </head>

    <body>
	    <section id="wrap">
	    	<section id="main">
		    	<section class="masthead">
		    		<section class="container">
		    			<section class="row">
							<a href="{% url 'index' %}" class="link">Home</a>
							<a href="{% url 'about_me' %}" class="link">About&nbsp;Me</a>
							<a href="{% url 'archive' %}" class="link">Archive</a>
						</section>
					</section>
				</section>
			    {% block jumbotron %}
			    {% endblock %}
				<section class="container">
			    	{% block content %}
			    	{% endblock %}
				</section>

			</section>
		</section>
			{% block navtable %}
			<section class="footer">
				<section class="container">
					<section class="row">
						<section class="col-sm-7">
							Art to Code | Jeffrey Browning | 2014
						</section>
					</section>
				</section>
			</section>
			{% endblock %}

    </body>

<script src="{% static 'blog/blog.js' %}"></script>
<script src="{% static 'blog/bootstrap.min.js' %}"></script>
</html>
