{% extends "blog/base.html" %}
{% load django_markdown %}

{% block jumbotron %}
<section id="jumbotron">
	<section class="container">
		<h1 style="margin-bottom:0;">{{object.title}}</h1>
		<h3 style="text-transform:lowercase;">Tagged under 
				{% for tag in object.tags.all %}
					<a href='{% url "tag_index" tag=tag.slug %}' class='link'>{{tag.slug}}</a>
					{% if not forloop.last %}// 
					{% endif%}
				{% endfor %}  {{object.created|date:"d M Y"}}</h3>
		<a href="https://twitter.com/Art_to_Code" target="_blank" class="twitter-icon"></a>
		<a href="https://github.com/jeffreybrowning" target="_blank" class="github-icon"></a>
		<a href="http://www.linkedin.com/pub/jeffrey-browning/49/636/a30/" target="_blank" class="linkedin-icon"></a>
		<a href="mailto:jeffbrowning05@gmail.com?subject=Blog comment" target="_blank" class="email-icon"></a>
		<a href="{% url 'feed' %}" rel="alternate" type="application/rss+xml" title="Art to Code Blog Feed" target="_blank" class="rss-icon"></a>
	</section>
</section>
{% endblock %}

{% block content %}
<section class="row">
	<section id='entry-content' class="col-sm-7">
		<article class="post">
<!--			<section class="date">{{ object.created| date:"d M Y" }}</section>
			<h1><a href="{% url 'entry_detail' slug=object.slug %}" class="link">{{ object.title }}</a></h1>
			<section class="tags">Tagged under 
				{% for tag in object.tags.all %}
					<a href='{% url "tag_index" tag=tag.slug %}' class='link-body'>{{tag.slug}}</a>
					{% if not forloop.last %}// 
					{% endif%}
				{% endfor %}
			</section> -->
			<p>{{object.body|markdown}}</p>
		</article>
	</section>
	<section class="col-sm-4 col-sm-offset-1 side-content" style="margin-top:0px;">
		{% if object.get_next != False %}
		<section class="side-entry">
			<section class="next-entry">
					<h4>Next Entry</h4>
					<h5 style="margin-top:0;"><a href="{% url 'entry_detail' slug=object.get_next.slug %}" class="link">{{ object.get_next.created| date:"d M Y" }}: <b>{{ object.get_next.title }}</b></a></h5>
			</section>
		</section>
		{% endif %}
		{% if object.get_prev != False %}
		<section class="side-entry">
			<section class="prev-entry">
				<h4>Previous Entry</h4>
					<h5 style="margin-top:0;"><a href="{% url 'entry_detail' slug=object.get_prev.slug %}" class="link">{{ object.get_prev.created| date:"d M Y" }}: <b>{{ object.get_prev.title }}</b></a></h5>
			</section>
		</section>
		{% endif %}
	</section>
</section>
{% endblock %}


