{% extends "blog/base.html" %}
{% load staticfiles %}

{% block jumbotron %}
<section id="jumbotron">
	<section class="container">
		&#8220;art_to_code&#8221;
		<p>In which the following are discussed:</p>
		<p style="padding-left:0;margin-top:1.5em;color=#eee;">Python&nbsp;//&nbsp;Django&nbsp;//&nbsp;HTML&nbsp;// CSS&nbsp;//&nbsp;JS&nbsp;//&nbsp;Mongo&nbsp;//&nbsp;SQL//Haskell<p>
	</section>
</section>
{% endblock %}


<section>
{% block content %}
{% include page_template %}
</section>

{% block js %}
			{{ block.super }}
    		<script src="http://code.jquery.com/jquery-latest.js"></script>
				<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
		    <script>
		        $.endlessPaginate()
		    </script>
{% endblock %}
{% endblock %}